$blue: rgb(57, 156, 250);
$green: rgb(55, 199, 73);

$gray: #e0e0e0;
$lightGray: rgb(242, 242, 242);
$darkerGray: #c8c8c8;
$darkestGray: #828282;

$lightGreen: rgb(42, 201, 64);
$darkGreen: rgb(40, 189, 60);

$lightOrange: rgb(250, 153, 23);
$darkOrange: rgb(240, 137, 6);

$lightRed: rgb(255, 95, 88);
$darkRed: rgb(255, 13, 0);
