<ion-item-sliding (click)="demo()">
  <ion-item-options side="start" (ionSwipe)="done($event)">
    <ion-item-option expandable color="success" (click)="done($event)">
      <ion-icon slot="start" name="checkmark-done-outline"></ion-icon>I've just done it
    </ion-item-option>
  </ion-item-options>

  <ion-item>
    <ion-grid>
      <ion-row id="first-row">
        <div id="title">{{task.title}}</div>
        <div id="repeat">
          <ion-icon slot="start" name="repeat-outline"></ion-icon>
          {{task.repeat}} day{{task.repeat != 1 ? 's':''}}
        </div>
      </ion-row>
      <ion-row id="subtext">
        Last done {{task.lastDone | amTimeAgo}}
      </ion-row>
      <ion-row>
        <app-gauge [percentage]="task.progress"></app-gauge>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item-options side="end" (ionSwipe)="edit($event)">
    <ion-item-option (click)="delete($event)" color="danger">Delete</ion-item-option>
    <ion-item-option (click)="edit($event)" expandable>Edit</ion-item-option>
  </ion-item-options>
</ion-item-sliding>