:host {
    ion-item {
        --padding-start: 20px;
    }

    ion-grid {
        #first-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #title {
            font-size: 1.1em;
            font-weight: 700;
        }

        #repeat,
        #subtext {
            font-size: 0.8em;
            color: var(--ion-color-medium);
        }

        #repeat {
            display: flex;
            align-items: center;
            & > ion-icon {
                margin-right: 5px;
            }
        }

        app-gauge {
            margin: 7px 0 9px;
        }
    }
}