<ion-item-sliding>
  <ion-item-options side="start" (ionSwipe)="done()">
    <ion-item-option expandable color="success" (click)="done()">
      <ion-icon slot="start" name="checkmark-done-outline"></ion-icon>I've just done it
    </ion-item-option>
  </ion-item-options>

  <ion-item>
    <ion-grid>
      <ion-row id="first-row">
        <div id="title">{{task.title}}</div>
        <app-week-display [when]="task.when"></app-week-display>
      </ion-row>
      <ion-row id="subtext">
        Last done {{task.lastDone | amTimeAgo}}
      </ion-row>
      <ion-row>
       <app-gauge [percentage]="task.progress"></app-gauge>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item-options side="end" (ionSwipe)="edit()">
    <ion-item-option (click)="delete()" color="danger">Delete</ion-item-option>
    <ion-item-option (click)="edit()" expandable>Edit</ion-item-option>
  </ion-item-options>
</ion-item-sliding>