<ion-content [fullscreen]="true">
  <main>
    <div class="form">
      <div class="cancel-button">
        <ion-button (click)="goBack()" fill="clear">Cancel</ion-button>
      </div>

      <div class="form-element">
        <div class="title">Let's give it a name!</div>
        <ion-input [(ngModel)]="task.name"></ion-input>
      </div>

      <div *ngIf="new" class="form-element">
        <div class="title">Put it in a group</div>
        <ion-select [(ngModel)]="task.gid" placeholder="Group">
          <ion-select-option *ngFor="let group of (groupsService.groups | async)" [value]="group.gid">{{group.name}}
          </ion-select-option>
        </ion-select>
      </div>

      <div class="form-element">
        <div class="title">When do you usually do this task?</div>
        <div class="repeat-selector">
          <span>
            Every
          </span>
          <ion-input [(ngModel)]="task.repeat"></ion-input>
          <span>
            days
          </span>
        </div>
      </div>

      <div class="form-element">
        <div class="title">A tag, maybe?</div>
        <ion-select [(ngModel)]="task.category" placeholder="Tag">
          <ion-select-option *ngFor="let task of (categoriesService.categories | async)" [value]="task.cid">
            {{task.parentcid && "––"}}
            {{task.title}}
          </ion-select-option>
        </ion-select>
      </div>

      <div *ngIf="new || task.executions.length === 0" class="form-element">
        <div class="title">When did you last do this?</div>
        <ion-datetime displayFormat="DDDD MMM D, YYYY" (ionChange)="onChange($event)" [max]="now.toISOString()"
          [value]="lastExecution">
        </ion-datetime>
      </div>
      <div *ngIf="!new && task.executions.length !== 0" class="form-element">
        <div class="title">Last executions (showing 5 most recent)</div>
        <ion-list id="history">
          <ion-item-sliding *ngFor="let execution of task.executions | slice:0:5; let index = index">
            <ion-item>
              <ion-label>{{execution.toLocaleDateString()}} {{execution.toLocaleTimeString()}}</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="deleteTime($event, index)" color="danger">delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>

    <div class="actions">
      <ion-button *ngIf="new" expand="block" color="primary" (click)="create()">Create</ion-button>
      <ion-button *ngIf="!new" expand="block" color="primary" (click)="update()">Update</ion-button>
      <ion-button *ngIf="!new" fill="clear" color="danger" (click)="delete()">Remove this task</ion-button>
    </div>
  </main>
</ion-content>