<ion-content [fullscreen]="true">
  <main>
    <div class="form">
      <div class="cancel-button">
        <ion-button (click)="goBack()" fill="clear">Cancel</ion-button>
      </div>

      <div class="form-element">
        <div class="title">Let's give it a name!</div>
        <ion-input [(ngModel)]="task.title"></ion-input>
      </div>

      <div class="form-element">
        <div class="title">When do you usually do this task?</div>
        <app-week-selector
          [biWeekly]="biWeekly"
          [(week)]="task.when"
        ></app-week-selector>
        <div *ngIf="false" class="repeater">
          <small>repeats every two weeks </small>
          <ion-toggle [(ngModel)]="biWeekly"></ion-toggle>
        </div>
      </div>
      <div class="form-element">
        <div class="title">When did you last do this?</div>
        <ion-datetime
          displayFormat="DDDD MMM D, YYYY"
          [max]="now.toISOString()"
          [value]="task.lastDone?.toISOString()"
        >
        </ion-datetime>
      </div>
    </div>

    <div class="actions">
      <ion-button *ngIf="new" expand="block" color="primary" (click)="create()">Create</ion-button>
      <ion-button *ngIf="!new" expand="block" color="primary" (click)="update()">Update</ion-button>
      <ion-button *ngIf="!new" fill="clear" color="danger" (click)="delete()">Remove this task</ion-button>
    </div>
  </main>
  <!-- <AtoZCol>
      <div>
        <CancelButton onClick={goBack}>Cancel</CancelButton>
        <IonItem>
          <IonLabel position="stacked">Let's give it a name</IonLabel>
          <IonInput value={title} onIonChange={e => setTitle(e.detail.value!)} />
        </IonItem>
        <IonItem>
          <IonLabel position="stacked">When do you usually do this task?</IonLabel>
          <WeekSelector when={when} onValueChange={data => setWhen(data)} />
        </IonItem>
        <IonItem>
          <IonLabel position="stacked">When did you last do this?</IonLabel>
          <IonDatetime displayFormat="DDDD MMM D, YYYY"
            value={lastExecution?.toISOString()} onIonChange={e => changeLastExecution(e.detail.value!)}>
          </IonDatetime>
        </IonItem>
      </div>
      <div className="actions">
        <IonButton size="large" onClick={save} expand="block">{task ? 'Update' : 'Create'}</IonButton>
        {task && (<span className='remove' onClick={() => remove(task)}>Remove this task</span>)}
      </div>
    </AtoZCol>
    <IonToast
      isOpen={!isFormValid}
      onDidDismiss={() => setIsFormValid(true)}
      message="All fields are required."
      duration={1000}
    /> -->
</ion-content>
