:host {
  main {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .form {
      flex: 1;

      .cancel-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-weight: bold;
      }

      .form-element {
        padding: 10px 20px;

        ion-datetime,
        ion-input {
          border: 1px solid var(--ion-color-light);
        }

        ion-input {
          padding: 0 10px !important;
        }

        .title {
          font-weight: bold;
          max-width: 70%;
          padding: 20px 0 10px;
        }

        app-week-selector {
          width: 100%;
        }

        .repeater {
          padding-top: 20px;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;

          ion-toggle {
            margin-left: 15px;
          }
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 40px;
    }
  }
}
