<ion-content [fullscreen]="true">
  <div class="cancel-button">
    <ion-button (click)="goBack()" fill="clear">Cancel</ion-button>
  </div>

  <ion-item>
    <ion-label position="stacked">Let's give it a name!</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">When do you usually do this task?</ion-label>
    <app-week-selector
      [biWeekly]="biWeekly"
      [(week)]="when"
    ></app-week-selector>
    <div class="repeater">
      <small>repeats every two weeks </small>
      <ion-toggle [(ngModel)]="biWeekly"></ion-toggle>
    </div>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">When did you last do this?</ion-label>
    <ion-datetime
      displayFormat="DDDD MMM D, YYYY"
      [max]="now.toISOString()"
      [value]="lastExecution?.toISOString()"
    >
    </ion-datetime>
  </ion-item>

  <div class="actions">
    <ion-button expand="block" color="primary">Update</ion-button>
    <ion-button fill="clear" color="danger">Remove this task</ion-button>
  </div>
  <!-- <AtoZCol>
      <div>
        <CancelButton onClick={goBack}>Cancel</CancelButton>
        <IonItem>
          <IonLabel position="stacked">Let's give it a name</IonLabel>
          <IonInput value={title} onIonChange={e => setTitle(e.detail.value!)} />
        </IonItem>
        <IonItem>
          <IonLabel position="stacked">When do you usually do this task?</IonLabel>
          <WeekSelector when={when} onValueChange={data => setWhen(data)} />
        </IonItem>
        <IonItem>
          <IonLabel position="stacked">When did you last do this?</IonLabel>
          <IonDatetime displayFormat="DDDD MMM D, YYYY"
            value={lastExecution?.toISOString()} onIonChange={e => changeLastExecution(e.detail.value!)}>
          </IonDatetime>
        </IonItem>
      </div>
      <div className="actions">
        <IonButton size="large" onClick={save} expand="block">{task ? 'Update' : 'Create'}</IonButton>
        {task && (<span className='remove' onClick={() => remove(task)}>Remove this task</span>)}
      </div>
    </AtoZCol>
    <IonToast
      isOpen={!isFormValid}
      onDidDismiss={() => setIsFormValid(true)}
      message="All fields are required."
      duration={1000}
    /> -->
</ion-content>
