:host {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);

  main {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .form {
      flex: 1;

      .cancel-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-weight: bold;
      }

      app-week-selector {
        width: 100%;
      }

      .repeater {
        padding-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        ion-toggle {
          margin-left: 15px;
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 40px;
    }
  }
}
