:host {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);

  .content {
    min-height: calc(100vh + 60px - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  }

  .search-bar {
    height: 60px;
    padding-left: 21px;
    display: flex;
    align-items: center;
  }

  .gauge-holder {
    padding: 5px 0;
  }
}
