:host {
    .search-bar {
        transition: height 700ms;
        overflow: hidden;
        height: 0;
        padding-left: 21px;
        display: flex;
        align-items: center;
    }

    .gauge-holder {
        padding: 5px 0;
    }
}