:host {
  padding-top: var(--ion-safe-area-top);
  padding-bottom: var(--ion-safe-area-bottom);

  .content {
    min-height: calc(100vh + 60px - var(--ion-safe-area-top) - var(--ion-safe-area-bottom));
  }

  .search-bar {
    height: 60px;
    display: flex;
    align-items: center;
  }

  .gauge-holder {
    padding: 5px 0;
  }
}
