:host {
  display: flex;
  justify-content: space-between;

  .day {
    border-radius: 50%;
    font-weight: 700;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:active,
    &.selected {
      background-color: var(--ion-color-light);
    }
  }
}
